body {
        background-color: rgb(223, 223, 223);
        border-left: 64px #000;
        border-right: 64px #000;
}

h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
}
h2 {
    font-size: 48px;
    color: rgb(0, 0, 0);
}
h3 {
    font-size: 32px;
    color: rgb(0, 0, 0);
}
h4 {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

 h5, h6 {

         color: rgb(0, 0, 0);
}

p {
         color: rgb(0, 0, 0);
}

header, nav, section, article, footer {

         background-color: rgb(255, 255, 255);
         border: 2px #000;
}

a { 
        color: #ff5733;
}

a:hover {
        color: #ff7533;
}

a:visited {

    color: #46486b;
}

button {
        background-color: #00f36d;
        color: #FFFF;
}

button:hover{
        background-color: #00f36d;

}

